.App {
  font-family: sans-serif;
  text-align: center;
}
#root {
  width: 300px;
  margin: 7rem auto;
}
.display {
  background-color: gainsboro;
  padding: 1rem;
}
#time-left {
  text-align: center;
  font-size: 2rem;
}
.function-buttons {
  display: flex;
  justify-content: space-evenly;
}
.controls {
  margin-top: 1em;
  display: flex;
  justify-content: space-evenly;
}
